:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #ffffff;
  --background-color-main: #f5f4fa;
  --background-color-accent: #2f303a;
  --logo-text-main: #000000;
  --social-logo: #afb1b8;
  --section-pt: 60px;
  --section-pb: 60px;
}
