.specialties {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}

.specs-list {
  margin-top: -60px;

  &__item {
    margin-top: 30px;
    display: block;
  }

  &__logo {
    width: 70px;
    height: 70px;
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--background-color-main);
  }

  &__subtitle {
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--logo-text-main);
  }

  &__about {
    line-height: 1.71;
    color: var(--secondary-text-color);
  }
}

@media screen and (max-width: 767px) {
  .specs-list__subtitle {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .specs-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .specs-list__item {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .specialties {
    width: 1170px;
    margin: 0 auto;
  }
  .specs-list__item {
    flex-basis: calc(100% / 4 - 30px);
    width: 270px;
    margin-left: 30px;
    margin-top: 30px;
  }
}
